@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Hide Leaflet attribution for cleaner look */
.leaflet-control-attribution {
  display: none !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
